body {
    font-family: Arial;
    direction: rtl;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.admin-box {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

.admin-box input,
.admin-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.img-btn {
    display: block;
    background: #2196f3;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}
